In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("./static/Insta_history.csv")
df.head(2)

,Currency,Side,Total Quantity,Price Per Unit,Total Amount,Status,Created At,Updated At
0,ADA,buy,1.054335,189.228327,199.510000,filled,2021-09-16 15:03:07 UTC,2021-09-16 15:03:07 UTC
1,AVAX,sell,0.040000,4987.774338,199.510974,filled,2021-09-16 14:57:11 UTC,2021-09-16 14:57:11 UTC

In [4]:
df.set_index(df["Currency"], inplace=True)

In [5]:
df_al = df.copy()
df_al.drop(["Updated At", "Status"], axis=1, inplace=True)

In [6]:
df_al["Created At"] = df_al["Created At"].apply(lambda x: x[:10])
df_al.head(2)

,Currency,Side,Total Quantity,Price Per Unit,Total Amount,Created At
Currency,,,,,,
ADA,ADA,buy,1.054335,189.228327,199.510000,2021-09-16
AVAX,AVAX,sell,0.040000,4987.774338,199.510974,2021-09-16

In [7]:
df_al.loc["ADA", ["Total Quantity", "Created At"]]

          Total Quantity  Created At
Currency
ADA             1.054335  2021-09-16
ADA             1.490000  2021-08-11
ADA             1.496269  2021-08-11
ADA             3.380000  2021-06-30
ADA             3.373755  2021-05-24
ADA             1.080000  2021-05-23
ADA             1.087466  2021-05-15

In [40]:
import json

In [36]:
quantity, date = list(df_al.loc["ADA"]["Total Quantity"]), list(df_al.loc["ADA"]["Created At"])

In [41]:
type(quantity)

list